<launch>
	<node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk" output="screen">
		<!-- node parameters -->
                <param name="drone_version" type="string" value="M100"/>
		<param name="serial_name" type="string" value="/dev/ttyUSB0"/>
		<param name="baud_rate" type="int" value="230400"/>
		<param name="app_id" type="int" value="1030118"/>
		<param name="app_version" type="int" value="1"/>
		<param name="app_bundle_id" type="string" value="Welcome to use dji-sdk"/>
		<param name="enc_key" type="string" value="e984b6bcba71a5bf380d8a0ca1a05fd8d4e0a151be52fb2b8dfa7d41d887daaa"/>
		<param name="groundstation_enable" type="int" value="1"/>
	</node>
</launch>
